*{
    margin: 0;
    padding: 0;
    text-decoration: none; 

}
#admin{
    text-align: right;
    margin-top: 20px;
    margin-right: 10%;
}
#container{
    margin: auto;
    max-width: 1200px;
    width:100%;
    margin-top: 2%;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;
 
}
#container_apli{
    margin: auto;
    max-width: 1200px;
    width:100%;
    height: 90%;
    margin-top: 80px;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;
}
#aplicantes{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
   
    justify-content: center;
    width: 600px;
    height: 90%;
    
}
#containerlog{
  
    align-items: center;
    justify-content: center;
}
#formlog{
    background-color: violet;
    width: 500px;
    height: 300px; 
}
#alert{
    width: 100%;
    height: 50px;
}

header, nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    background-color:white;
    width: 100%;
    height: 80px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
}
nav p{
    font-size:20px;
}
#form{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    margin-top: 2%;
    justify-content: center;
    width: 450px;
    height: 450px;
   
   

}
#form img{
    
    width: 450px;
    height: 300px;
}
#form input{
    
    width: 450px;
    height: 30px;
}
#form_p{
    display: flex;
    flex-direction: row;
  
    flex-flow: row wrap;
    margin-top: 120px;
    justify-content: center;
    width: 450px;
    height: 900px;
  
   

}
#form_p input{
    width: 750px;
    height: 30px;
}



#preguntas{
    margin: auto;
    margin-top: 120px;
    max-width: 1200px;
    width:100%;
    display: flex;
    flex-flow: row wrap; 
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    
 
}

#pre{
    background-color:white;
  
    width: 90%;
    height: 100%;
}
#pre textarea{
    background-color: #E6E6E6;
    padding: 1em;
    margin-top: 10px;
    width: 90%;
}
#pre label, button{
    margin-top: 10px;
}

#instrucciones{
   
    flex-flow: row wrap; 
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 80px;
}
#instrucciones p{
    display: flex;
    flex-direction: row;
    text-align: justify;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: black;
}
hr{
    background-color: gray;
}
#reporte {
    background-color: violet;
}

#foot{
    background-color: white;
    width: 100%;
    height: 70px;
}